@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.light-theme {
  background-color: #ffffff;
  color: #000000;
}
.dark-theme {
  background-color: #1a1a1a;
  color: #cccccc;
}
.dark-theme a {
  color: #cccccc;
}

.dark-theme h1, .dark-theme h2, .dark-theme h3, .dark-theme h4, .dark-theme h5, .dark-theme h6 {
  color: #cccccc;
}

.dark-theme .text-blue-600 {
  color: #93c5fd;
}



.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Fjalla One', sans-serif;
}

.lora {
         font-family: "Lora", serif;
         font-optical-sizing: auto;
         font-weight: bold;
         font-style: normal;
       }

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}